---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.author__avatar,
.author__avatar img,
.author__content,
.author__bio,
.author__urls-wrapper,
.author__urls,
.h-card {
  opacity: 1 !important;
  filter: none !important;
  transition: none !important;
}
