---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

:root {
  --bg: #141010;
  --text: #fff6fb;
}

.light-mode {
  --bg: #ffffff;
  --text: #111111;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.sidebar,
.sidebar * {
  opacity: 1 !important;
  filter: none !important;
  transition: none !important;
}
.page__content {
  max-width: 1400px !important;
}

.greedy-nav {
  display: flex;
  align-items: center;
}

.greedy-nav .visible-links {
  margin-left: auto;
}

.theme-toggle {
  margin-left: 1rem;
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1.1rem;
  cursor: pointer;
}
